@import "./vars.scss";

.item {
  position: relative;

  &__heading {
    font-weight: 500;
    font-size: $desktop-title;
  }

  &__description {
    margin: 0;
    margin-bottom: 12px;
    color: $grey-font;
  }

  &__price {
    font-size: $desktop-title;
    font-weight: 500;
  }

  &__btn-wrapper {
    position: absolute;
    display: flex;
    padding: 10px;
    column-gap: 21px;
    top: 0;
    right: 0;
  }

  .item__btn svg {
    fill: #c4c4c4;
  }

  .item__btn:hover path {
    fill: $white;
  }
}
